<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form_input">
        <form action="result" method="POST">
            <input type="text" name = 'name'>Enter you name here</input> </br>
            <input type="email" name = 'mail'>Enter you mail here </input> </br>

            <input type="textarea" name = 'text' id = 'text'>Enter you text here</input> </br>
            
            <button type="submit">submit</button>

        </form>


    </div>
</body>
</html>